<%- include('partials/header.ejs') %>
<div id="layout">
    <%- include('partials/nav.ejs') %>
    <div id="main">
        <h1> Quotes </h1>
        <div id="quote_holder">
            <% for(i of quotes) { %>
                <div class="quote">
                    <span class="text"><%= i.quote %></span><br>
                    <span class="author">
                    -<em>
                        <a href="#" id="<%=i.authorId%>">
                        <%= i.firstName %> <%= i.lastName %>
                        </a>
                    </em>
                    </span>
                    <span class="misc">
                        <span>Likes: <%= i.likes %></span>
                        <span>Category: <%= i.category %></span>
                    </span>
                    <span class="crud">
                        <a href="/quote/edit?quoteId=<%=i.quoteId%>">UPDATE</a>
                        <a href="/quote/delete?quoteId=<%=i.quoteId%>">DELETE</a>
                    </span>
                </div> 
            <br><br>
            <% } %>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Author Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="authorInfo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="/js/script.js"></script>
<%- include('partials/footer.ejs') %>